@charset "UTF-8";
body {

  background: color(srgb rgb(66, 66, 66) rgb(83, 83, 83) rgb(70, 70, 70)); /*setting background colour*/
}

h1{
  text-align: center; /*centering the text*/
  margin-left: 40px; /*creating space on left*/
  margin-bottom: 50px; /*creating space bottom*/
  font-size: 50px; /*editing font size*/
}

video {
  margin-left: 40px; /*creating space on left for video*/
}

button{
  display: block; /*moving button under video*/
  height: 40px; /*increasing size*/
  margin-left: 40px; /*creating space left*/
  
}
h4{
  margin-left: 40px;
}

nav {
    text-align: center; /*centering nav bar*/
    font-size: x-large;
    margin-left: 14px;
    
    
}
nav a:hover {
  color: darkblue; /*mouse hover changes colour of nav link*/
}

nav a{
    padding: 15px; /*creating space*/
    margin-right: 24px;
    color: blue; /*changing colour of nav links*/
}
body {
  padding-top: 50px; /*adding space top of page*/
}
img{
  float: left; /*floats the image to the left side of the page*/
  margin-right: 20px;
  margin-bottom: 30px;
}
#video{
  clear: both; /*start below the floated image*/
}
#VideoText{
  clear: both;
  margin-left: 40px;
}