@charset "UTF-8";
body {

  background: color(srgb rgb(66, 66, 66) rgb(83, 83, 83) rgb(70, 70, 70));

  background: linear-gradient(45deg, #ffcccc, #ccffff);

}

nav {
    text-align: center;
    font-size: x-large;
    margin-bottom: 40px;
    
    
}
nav a:hover {
  color: darkblue;
}

nav a{
    padding: 15px;
    margin-right: 24px;
    color: blue;
}
body {
  padding-top: 50px;
}
p { 
  margin: 10px;          
}

label {
  display: inline-block;  
  margin-right: 10px; 
  width: 100px    
}

